*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
table{
    border-radius: 10px;
   font-size: 4vh;
    border: none;
    margin-left: 40vh;
}
table caption{
    color:purple;
    margin-bottom: 5vh;
    font-size: 5vh;
    padding-top: 2vh;
   
}
caption button{
    background-color: rgba(128, 0, 128, 0.776);
    padding: 2vh;
    border-radius: 10px;
    border: none;
    font-size: 3vh;
    color: white;
    margin-right: 5vh;
    
}
table tbody{
    height:60vh;
    width:150vh;
   color:white
}
table thead{
    background-color: purple;
    color:white;
    height:7vh;
   
}
tr th,td{
    padding:3vh;
    color: white;
}
tbody tr:nth-child(even){
    background-color: rgba(128, 0, 128, 0.817);
}
tbody tr:nth-child(odd){
    background-color: violet;
}
tbody tr:nth-child(even):hover{
    background-color: rgb(116, 2, 116);
}
tbody tr:nth-child(odd):hover{
    background-color: rgb(242, 64, 242);
}

.but{
   background-color: white;
   padding: 2vh;
   border-radius: 10px;
   border: none;
   margin-right: 3vh;
   font-size: 3vh;
}
.but:hover{
    background-color: plum;
}